:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}
  */


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

iframe {
  border: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#overlay {
  position: fixed;              /* Float it */
  top: 10rem;                    /* Distance from top */
  left: 3rem;                  /* Distance from right */
  z-index: 2;
  color: white;
  text-align: right;
  font-family: 'Inter', sans-serif;
  font-weight: 300;             /* Inter Light */
  /*pointer-events: none;         /* Make non-clickable */
  max-width: 90vw;              /* Prevent overflow on mobile */
}

#secret-link {
  display: none;
  margin-top: 1rem;
}

.cf-turnstile {
  margin-top: 2rem;
}

#click-catcher {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
  cursor: pointer;
}

.heading-row {
  width: 400;
  display: flex;
  justify-content: space-between;
  align-items: left; /* aligns vertically */
  gap: 1rem; /* optional spacing between elements */
}

.heading-row h1,
.heading-row h2,
.heading-row h3,
.heading-row h4 {
  margin: 0; /* remove default margins */
}